<section id="products" class="container">

    <div id="title">
        <h1>Productos en tiempo real</h1>
        
    </div>
    
    <div id="form-container" class="bg-secondary">
        <h2>Agregue un Producto:</h2>
        
        <form id="form" action="/realTimeProducts" method="post">

            <input class="form-control" id="titleInput" name="title" type="text" placeholder="Título" >
            
            <input class="form-control" id="priceInput" name="price" type="number" placeholder="Precio">

            <input class="form-control" id="codeInput" name="code" type="text" placeholder="Código">

            <input class="form-control" id="stockInput" name="stock" type="number" placeholder="Stock">

            <textarea class="form-control" id="descripInput" placeholder="Descripcion" style="height: 100px"></textarea>
            
            <input id="fileInput" name="thumbnail" type="file">
                
            <label for="statusInput" class="statusInput-label">
                Status <input id="statusInput" name="status" type="checkbox">
            </label>


            <div id="submitInput-container" >
                <input class="text-light" id="submitInput" type="submit" value="Enviar">
            </div>
        </form>
    </div>

    <div id="products-container">

        {{#each products}}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src={{this.thumbnail.[0]}} class="img-fluid rounded-start" alt={{this.description}}>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <p class="card-text">${{this.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>
</section>